.tituloStyle{
    color: #757575; 
    font-size: 15px !important; 
    font-weight: bold; 
    padding-left: 5px;
}

#dialogHistorial .ui-tabs-left > .ui-tabs-nav{
    width: 15%;
}
#dialogHistorial .ui-tabs-left > .ui-tabs-panels{
    width: 84%;
}

#dialogHistorial .ui-calendar input{
    width: 65%
}
.proceso{
    background-color: #A9F5D0;
    padding-left: 50%;
}

.entradaProducto{
    background: #008000;
}
.salidaProducto{
    background: #ff1a1a;
}
.trasladosProducto{
    background: #1484E6;
}

.ui-clock {
    border-radius: 10px !important;
    font-size: 200% !important;
    background: red !important;
}
.subTotal {
    font-size: 20px !important;
    font-weight: bold;
}
.subTotalContent {
    font-size: 20px !important;
}