<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>
        <p:dialog header="Menus" draggable="false" widgetVar="menuWid" modal="true" 
                  resizable="false" width="800" height="500">

            <h:form id="formMenu" style="margin: 0px;">

                <p:panel header="Nuevo Menu" style="width: 70%;margin: 0 auto;">
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Raiz:" />
                            </p:column>
                            <p:column>
                                <p:selectOneMenu value="#{menuBean.menu.rutaRaiz}" 
                                                 required="#{not empty param[btnGM.clientId]}" requiredMessage="Se requiere la raiz">
                                    <f:selectItem itemLabel="Seleccionar.." />
                                    <f:selectItem itemLabel="Administrador" itemValue="/secure/Administrador/" />
                                    <f:selectItem itemLabel="Nutricion" itemValue="/secure/Nutricion/" />
                                    <f:selectItem itemLabel="Bodega" itemValue="/secure/Bodega/" />
                                    <f:selectItem itemLabel="Raciones" itemValue="/secure/Raciones/" />
                                    <f:selectItem itemLabel="Cocina" itemValue="/secure/Cocina/" />
                                    <f:selectItem itemLabel="Reportes" itemValue="/secure/Reportes/" />
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Archivo: " />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{menuBean.menu.nomArchivo}" size="20"
                                             required="#{not empty param[btnGM.clientId]}" requiredMessage="Se requiere el nombre del archivo"
                                             style="text-transform: none;"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Nombre: " />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{menuBean.menu.nomVista}" size="16" maxlength="50"
                                             required="#{not empty param[btnGM.clientId]}" requiredMessage="Se requiere el nombre"
                                             style="text-transform: none;"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="icono: " />
                            </p:column>
                            <p:column>
                                <!--<p:inputText value="{menuBean.menu.dsiIcono}" size="10" maxlength="20" 
                                             required="{not empty param[btnGM.clientId]}" requiredMessage="Se requiere el icono"
                                             style="text-transform: none;"/>-->
                                <p:commandButton icon="fa #{menuBean.menu.sigIcono.nombre}" />
                                <p:commandButton value="Buscar Icono" icon="fa fa-search" action="#{menuBean.mostrarBusIcono()}" />
                            </p:column>
                        </p:row>
                        <!--<p:row>
                            <p:column>
                                <p:outputLabel value="Orden:" />
                            </p:column>
                            <p:column colspan="3">
                                <p:inputNumber minValue="0" size="7" decimalPlaces="0" value="{menuBean.menu.orden}" />
                            </p:column>
                        </p:row>-->
                        <p:row>
                            <p:column colspan="4" style="text-align: center;">
                                <p:commandButton value="Guardar" action="#{menuBean.insertNewMenu()}" 
                                                 binding="#{btnGM}"
                                                 update="formMenu" />
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <div style="height: 65%;">
                    <p:dataTable value="#{menuBean.listMenuAll}" var="menAll"
                                 emptyMessage="No hay menu"
                                 scrollable="true" scrollHeight="100%" scrollRows="50"
                                 style="width: 100%;margin-top: 10px;"
                                 editable="true" >
                        <f:facet name="header">
                            MENUS
                        </f:facet>

                        <p:column headerText="Ruta" style="text-align: left;font-size: 12px;" >
                            <p:outputLabel value="#{menAll.rutaRaiz}" />
                        </p:column>
                        <p:column headerText="Archivo" style="text-align: left;font-size: 12px;width: 15%" >
                            <p:outputLabel value="#{menAll.nomArchivo}" />
                        </p:column>
                        <p:column headerText="Vista" style="text-align: left;font-size: 12px;width: 23%" >
                            <p:outputLabel value="#{menAll.nomVista}" />
                        </p:column>
                        <p:column headerText="Icono" style="text-align: center;font-size: 12px;width: 10%" >
                            <p:commandButton icon="fa #{menAll.sigIcono.nombre}" />
                        </p:column>
                        <p:column style="width: 10%;text-align: center;font-size: 12px;">
                            <p:commandButton icon="fa fa-plus" action="#{menuBean.insertMenuRol(menAll)}" 
                                             title="Agregar el menu al rol"/>
                        </p:column>

                        <f:facet name="footer">
                            <p:outputLabel value=" " />
                        </f:facet>
                    </p:dataTable>
                </div>
            </h:form>
        </p:dialog>
        
        <ui:include src="../Buscadores/AdmIcono.xhtml" />
    </body>
</html>
