<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="content" >
        <h:form id="formRacion" style="margin: 0px;" rendered="true">
            <p:growl id="growlRacion" showDetail="false" />      

            <p:panel header="Subir Raciones Excel" style=" text-align: center; width: 25%;margin: 0 auto ">
                <p:panelGrid rendered="true" style=" text-align: center; width: 50%;margin: 0 auto ">   
                    <p:row>
                        <p:column>
                            <div style="float: right;display: flex;
                                 background: #1F7ED0;color: white;
                                 border: 1px solid black;"
                                 onclick="PF('widAddExcel').show()">
                                <div style="padding-left: 15px;padding-right: 2px;">
                                    <h:graphicImage url="/resources/images/Otros/excel.png" 
                                                    style="height: 30px;width: 30px" />
                                </div>
                                <div style="padding-top: 3%;padding-right: 15px;">
                                    <p:outputLabel value="Subir Archivo Excel"/>
                                </div>
                            </div>

                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <p:panel id="panelIngreso" header="Tabulador de raciones servidas" style=" text-align: center; width: 75%;margin: 0 auto ">
                <p:panelGrid rendered="true" style=" text-align: center; width: 50%;margin: 0 auto ">   
                    <p:column>
                        <p:outputLabel value="Centro: " />   
                    </p:column>                   
                    <p:column>
                        <p:outputLabel id="centro"  value="#{tabuladorBean.centroUsu.nomCentro}" />                                                            
                    </p:column>  
                    <p:spacer width="100" height="10" />                            
                    <p:column >                             
                        <p:outputLabel value="Fecha:"/>
                    </p:column>
                    <p:column>
                        <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                    requiredMessage="Se requiere la fecha para registro"
                                    size="15" value="#{tabuladorBean.tab.fecha}" maxdate="#{currentDate}"/>
                        <p:spacer height="30" />
                    </p:column>                         
                </p:panelGrid>

                <p:spacer height="40" />
                <p:panel header="Tiempo de comida" style=" text-align: center; width: 100%;margin: 0 auto ">

                    <p:selectBooleanCheckbox id="cDesayuno" value="#{tabuladorBean.tab.sigTcomida.desayuno}" disabled="#{tabuladorBean.tab.sigTcomida.cena==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Desayuno">
                        <p:ajax event="change" update="cAlmuerzo,cCena,cRefrigerio"/>
                    </p:selectBooleanCheckbox>
                    <p:spacer width="100" height="10" />
                    <p:selectBooleanCheckbox id="cAlmuerzo" value="#{tabuladorBean.tab.sigTcomida.almuerzo}" disabled="#{tabuladorBean.tab.sigTcomida.cena==true or tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Almuerzo">
                        <p:ajax event="change" update="cDesayuno,cCena,cRefrigerio"/>
                    </p:selectBooleanCheckbox> 
                    <p:spacer width="100" height="10" />
                    <p:selectBooleanCheckbox id="cCena" value="#{tabuladorBean.tab.sigTcomida.cena}" disabled="#{tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Cena">
                        <p:ajax event="change" update="cDesayuno,cAlmuerzo,cRefrigerio"/>
                    </p:selectBooleanCheckbox> 
                    <p:spacer width="100" height="10" />
                    <p:selectBooleanCheckbox id="cRefrigerio" value="#{tabuladorBean.tab.sigTcomida.refrigerio}" disabled="#{tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.cena==true}" itemLabel="Refrigerio">
                        <p:ajax event="change" update="cDesayuno,cAlmuerzo,cCena"/>
                    </p:selectBooleanCheckbox> 
                </p:panel>
                <p:spacer height="20" />

                <p:panel  header="Raciones servidas" style=" text-align: center; width: 100%;margin: 0 auto ">                 
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Personal: " />
                            </p:column> 
                            <p:column>
                                <p:spinner id="spinner1" value="#{tabuladorBean.tab.sigBeneficiario.personal}" min="0" max="999">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column>                 

                            <p:column>
                                <p:outputLabel value="Hombres: " />
                            </p:column> 
                            <p:column>
                                <p:spinner id="spinner2" value="#{tabuladorBean.tab.sigBeneficiario.hombres}" min="0" max="999">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>                       
                            </p:column>  

                            <p:column>
                                <p:outputLabel value="Mujeres: " />
                            </p:column> 
                            <p:column>
                                <p:spinner id="spinner3" value="#{tabuladorBean.tab.sigBeneficiario.mujeres}" min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>                       
                            </p:column>       
                            <p:column>
                                <p:outputLabel value="PNC: " />
                            </p:column> 
                            <p:column>                        
                                <p:spinner id="spinner4" value="#{tabuladorBean.tab.sigBeneficiario.pnc}"  min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column>  
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Niños: " />
                            </p:column> 
                            <p:column>                        
                                <p:spinner id="spinner5" value="#{tabuladorBean.tab.sigBeneficiario.niños}"  min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column>  
                            <p:column>
                                <p:outputLabel value="Niñas: " />
                            </p:column> 
                            <p:column>                        
                                <p:spinner id="spinner6" value="#{tabuladorBean.tab.sigBeneficiario.niñas}"  min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column>  
                            <p:column>
                                <p:outputLabel value="Ancianos: " />
                            </p:column> 
                            <p:column>                        
                                <p:spinner id="spinner7" value="#{tabuladorBean.tab.sigBeneficiario.ancianos}"  min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column>  
                            <p:column>
                                <p:outputLabel value="Ancianas: " />
                            </p:column> 
                            <p:column>                        
                                <p:spinner id="spinner8" value="#{tabuladorBean.tab.sigBeneficiario.ancianas}"  min="0" max="1000">
                                    <p:ajax event="change" update="total1"/>
                                </p:spinner>
                            </p:column> 
                        </p:row>
                        <p:row style="text-align: center">
                            <p:column >
                                <p:outputLabel value="Total: " />
                            </p:column>
                            <p:column>
                                <p:outputLabel id="total1"  value="#{tabuladorBean.tab.sigBeneficiario.personal + tabuladorBean.tab.sigBeneficiario.hombres+tabuladorBean.tab.sigBeneficiario.mujeres+tabuladorBean.tab.sigBeneficiario.pnc+tabuladorBean.tab.sigBeneficiario.niños+tabuladorBean.tab.sigBeneficiario.niñas+
                                                                     tabuladorBean.tab.sigBeneficiario.ancianos+ tabuladorBean.tab.sigBeneficiario.ancianas}" />
                            </p:column> 
                        </p:row>
                    </p:panelGrid>

                </p:panel>
                <p:spacer width="150" height="50" /> 
                <p:row>
                    <p:column style="text-align: center;" colspan="6">
                        <p:commandButton value="Guardar" process="@form" update="panelIngreso,formConfirmarRegistro"  
                                         oncomplete="PF('agregarRegistro').show();" />    
                        <p:spacer width="150" height="5" />
                        <p:commandButton value="Cancelar" action="#{tabuladorBean.inicio()}"
                                         />
                    </p:column>
                </p:row>
            </p:panel>
            <f:facet name="footer">
                <p:outputLabel value=" " />
            </f:facet>
        </h:form>

        <p:dialog id="dlg_g" width="950" height="450" header="Nuevo Registro"
                  widgetVar="agregarRegistro"  responsive="true"
                  onShow="PF('agregarRegistro').initPosition()">
            <h:form id="formConfirmarRegistro" rendered="true">
                <p:growl id="growl" showDetail="true" sticky="true" />
                <p:panelGrid id="pgRacion" style="margin: 0 auto">
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Fecha: " />    
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                        required="#{not empty param[btnGU.clientId] or
                                                    not empty param[btnGC.clientId] 
                                                    }" 
                                        requiredMessage="Se requiere la fecha para registro"
                                        size="15" value="#{tabuladorBean.tab.fecha}"/>        
                        </p:column> 
                        <p:column colspan="1">
                            <p:selectBooleanCheckbox id="Desayuno" value="#{tabuladorBean.tab.sigTcomida.desayuno}" disabled="#{tabuladorBean.tab.sigTcomida.cena==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Desayuno">
                                <p:ajax event="change" update="Almuerzo,Cena,Refrigerio"/>
                            </p:selectBooleanCheckbox>
                        </p:column>
                        <p:column colspan="1"> <p:selectBooleanCheckbox id="Almuerzo" value="#{tabuladorBean.tab.sigTcomida.almuerzo}" disabled="#{tabuladorBean.tab.sigTcomida.cena==true or tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Almuerzo">
                                <p:ajax event="change" update="Desayuno,Cena,Refrigerio"/>
                            </p:selectBooleanCheckbox> 
                        </p:column>
                        <p:column colspan="1">
                            <p:selectBooleanCheckbox id="Cena" value="#{tabuladorBean.tab.sigTcomida.cena}" disabled="#{tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.refrigerio==true}" itemLabel="Cena">
                                <p:ajax event="change" update="Desayuno,Almuerzo,Refrigerio"/>
                            </p:selectBooleanCheckbox> 

                        </p:column>
                        <p:column colspan="1">
                            <p:selectBooleanCheckbox id="Refrigerio" value="#{tabuladorBean.tab.sigTcomida.refrigerio}" disabled="#{tabuladorBean.tab.sigTcomida.desayuno==true or tabuladorBean.tab.sigTcomida.almuerzo==true or tabuladorBean.tab.sigTcomida.cena==true}" itemLabel="Refrigerio">
                                <p:ajax event="change" update="Desayuno,Almuerzo,Cena"/>
                            </p:selectBooleanCheckbox>
                        </p:column>

                    </p:row>

                    <p:column>
                        <p:spacer width="40" height="50" />
                        <p:outputLabel value="Personal: " />
                    </p:column> 
                    <p:column>
                        <p:spinner id="spinner21" value="#{tabuladorBean.tab.sigBeneficiario.personal}" min="0" max="999">
                            <p:ajax event="change" update="total2"/>
                        </p:spinner>
                    </p:column>                 


                    <p:column>
                        <p:outputLabel value="Hombres: " />
                    </p:column> 
                    <p:column>
                        <p:spinner id="spinner22" value="#{tabuladorBean.tab.sigBeneficiario.hombres}" min="0" max="999">
                            <p:ajax event="change" update="total2"/>
                        </p:spinner>                       
                    </p:column>  

                    <p:column>
                        <p:outputLabel value="Mujeres: " />
                    </p:column> 
                    <p:column>
                        <p:spinner id="spinner23" value="#{tabuladorBean.tab.sigBeneficiario.mujeres}" min="0" max="999">
                            <p:ajax event="change" update="total2"/>
                        </p:spinner>                       
                    </p:column>       

                    <p:row>
                        <p:column>
                            <p:spacer width="40" height="50" />
                            <p:outputLabel value="PNC: " />
                        </p:column> 
                        <p:column>                        
                            <p:spinner id="spinner24" value="#{tabuladorBean.tab.sigBeneficiario.pnc}"  min="0" max="999">
                                <p:ajax event="change" update="total2"/>
                            </p:spinner>
                            <p:spacer width="150" height="50" /> 
                        </p:column>  
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Niños: " />
                        </p:column> 
                        <p:column>                        
                            <p:spinner id="spinner25" value="#{tabuladorBean.tab.sigBeneficiario.niños}"  min="0" max="1000">
                                <p:ajax event="change" update="total2"/>
                            </p:spinner>
                        </p:column>  
                        <p:column>
                            <p:outputLabel value="Niñas: " />
                        </p:column> 
                        <p:column>                        
                            <p:spinner id="spinner26" value="#{tabuladorBean.tab.sigBeneficiario.niñas}"  min="0" max="1000">
                                <p:ajax event="change" update="total2"/>
                            </p:spinner>
                        </p:column>  
                        <p:column>
                            <p:outputLabel value="Ancianos: " />
                        </p:column> 
                        <p:column>                        
                            <p:spinner id="spinner27" value="#{tabuladorBean.tab.sigBeneficiario.ancianos}"  min="0" max="1000">
                                <p:ajax event="change" update="total2"/>
                            </p:spinner>
                        </p:column>  
                        <p:column>
                            <p:outputLabel value="Ancianas: " />
                        </p:column> 
                        <p:column>                        
                            <p:spinner id="spinner28" value="#{tabuladorBean.tab.sigBeneficiario.ancianas}"  min="0" max="1000">
                                <p:ajax event="change" update="total2"/>
                            </p:spinner>
                        </p:column> 
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Total: " />
                        </p:column>
                        <p:column colspan="5">
                            <p:outputLabel id="total2"  value="#{tabuladorBean.tab.sigBeneficiario.personal + tabuladorBean.tab.sigBeneficiario.hombres+tabuladorBean.tab.sigBeneficiario.mujeres+tabuladorBean.tab.sigBeneficiario.pnc+tabuladorBean.tab.sigBeneficiario.niños+tabuladorBean.tab.sigBeneficiario.niñas+
                                                                 tabuladorBean.tab.sigBeneficiario.ancianos+ tabuladorBean.tab.sigBeneficiario.ancianas}" />
                            <p:spacer  height="40" />
                        </p:column> 
                    </p:row>

                    <p:row>
                        <p:column style="text-align: center;" colspan="6">
                            <p:commandButton value="Confirmar" binding="#{btnGU}" update=":formRacion :formConfirmarRegistro"
                                             action="#{tabuladorBean.guardarTabulador()}" />                               
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

    </ui:define>

    <ui:define name="dlg-block">
        <!-- AGREGAR EXCEL -->
        <p:dialog header="Agregar Archivo Excel" widgetVar="widAddExcel" 
                  modal="true"  resizable="false" closable="true" 
                  draggable="false" width="60%" >
            <h:form id="fromExcel" >
                <p:fileUpload fileUploadListener="#{tabuladorBean.subirArchivo}" 
                              style="width: 100%;"
                              mode="advanced" 
                              label="Seleccionar" 
                              dragDropSupport="false"
                              allowTypes="/(\.|\/)(xls|xlsx)$/" 
                              update="formRacion:growlRacion" 
                              cancelLabel="Cancelar" 
                              uploadLabel="Subir"  />
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>