<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content" >
        <h:form style="margin: 0px;">
            <p:panelGrid columns="1" style="margin: 0 auto;
                         width: 50%; text-align: center;
                         margin-top: 5%" styleClass="ui-panelgrid-blank">
                <p:row>
                    <p:column style="border: hidden;">
                        <h:graphicImage url="/resources/images/Plantilla/logo_bueno2.jpg" style="margin: 0 auto;width: 90%;"/> 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="border: hidden;">
                        <p:outputLabel value="MÓDULO #{sessionBean.usu.sigRol.descripcion}" style="font-size: 200%; color: #1484E6; font-weight: bolder"/> 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="border: hidden;">
                        <p:outputLabel style="font-size: 140%; color: #1484E6" 
                                       value="BIENVENID@ #{sessionBean.usu.nombre} #{sessionBean.usu.apellido}"/>           
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="border: hidden;">
                        <p:outputLabel style="font-size: 140%; color: #1484E6" 
                                       value="#{sessionBean.usu.correo}"/>           
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid style="width: 100%;margin: 0 auto;margin-top: 7%;">
                <p:row>
                    <p:column style="text-align: center;">
                        <p:outputLabel style="font-size: 140%; color: #1484E6" value="#{sessionBean.usu.sigCentro.nomCentro}
                                       , Telefono #{sessionBean.usu.sigCentro.telefono}
                                       ,DERECHOS RESERVADOS" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>
