<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form id="formMcr" style="margin: 0px;">
            <p:growl id="growlPro" showDetail="false" />
            <p:focus for="txtNom" />
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:panel header="Nueva Marca" style="width: 82%;margin: 0 auto ">
                <p:panelGrid>
                    <p:row>
                        
                        <p:column>
                            <p:outputLabel value="Nombre:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="20" value="#{marcaBean.marca.nombre}" maxlength="50" id="txtNom"
                                         required="#{not empty param[btnGU.clientId] or
                                                     not empty param[btnGC.clientId] 
                                                    }" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         requiredMessage="Se requiere el nombre de la marca"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Descripcion:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="70" value="#{marcaBean.marca.descripcion}" maxlength="250"
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere la Descripcion de la marca"/>
                        </p:column>
                        </p:row>
                        
                       
                    <p:row>
                        <p:column style="text-align: center;" colspan="8">
                            <p:commandButton value="Guardar" binding="#{btnGU}" update="formMcr" 
                                             action="#{marcaBean.insertMarca()}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <div style="height: 68%;width: 83%;margin: 0 auto;">
                <p:dataTable value="#{marcaBean.listMarca}" var="tblMcr"
                             style="width: 100%;margin-top: 10px;"
                             editable="true" 
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="10"
                             scrollable="true" scrollHeight="100%" scrollRows="50"
                             emptyMessage="No hay Marcas que mostar"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" id="tblMcr"
                             >

                    <p:ajax event="rowEdit" listener="#{marcaBean.onRowEdit(tblMcr)}" update=":formMcr:growlPro" />
                    <p:ajax event="rowEditCancel" listener="#{marcaBean.onRowCancel()}" update=":formMcr:growlPro" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Nombre" style="text-align: left;font-size:  12px;width: 10%;" filterBy="#{tblMcr.nombre}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="Descripcion" style="text-align: left;font-size:  12px;width: 35%;"/>
                            <p:column headerText="Editar" style="width: 5%;text-align: center;font-size: 12px;"/>
                            <p:column headerText="Activo" style="width: 5%;text-align: center;font-size: 12px;"/>
                            <!--<p:column headerText="Eliminar" style="width: 5%;text-align: center;font-size: 12px;"/>-->
                        </p:row>
                    </p:columnGroup>

                    <f:facet name="header">
                        <p:outputLabel value="Marcas" />
                    </f:facet>

                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblMcr.nombre}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblMcr.nombre}" style="width:100%" maxlength="70" 
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere el Nombre de la marca"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblMcr.descripcion}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblMcr.descripcion}" style="width:100%" maxlength="70"
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere la Descripcion de la marca"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 5%">
                        <p:rowEditor editTitle="Modificar Marca" />
                    </p:column>
                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton value="#{tblMcr.estado?'Si':'No'}"  update="formMcr" action="#{marcaBean.updateEstadoMarca(tblMcr)}"
                                         style="#{tblMcr.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" 
                                         title="Deshabilitar marca">
                            <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado de la marca?" icon="ui-icon-alert" />
                            
                        </p:commandButton>
                        
                    </p:column>
<!--                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton icon="fa fa-trash" action="#{marcaBean.deleteMenu(tblMcr)}" update="formMcr"
                                     title="Eliminar el menu">
                        <p:confirm header="Confirmación" message="Esta segur@ de eliminar la marca?" icon="ui-icon-alert" />
                    </p:commandButton>
                    </p:column>-->
                    <f:facet name="footer">
                        <p:outputLabel value=" " />
                    </f:facet>
                </p:dataTable>
            </div>
        </h:form>
    </ui:define>


</ui:composition>
