<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form id="formPro" style="margin: 0px;">
            <p:growl id="growlPro" showDetail="false" />
            <p:focus for="txtNom" />
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:panel header="Nuevo Producto" style="width: 82%;margin: 0 auto ">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Rubro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu  value="#{productoBean.pro.rubroS}" 
                                              converter="omnifaces.SelectItemsConverter"
                                              required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere el tipo de rubro">
                                <f:selectItem  itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{productoBean.listRubroActivo}" var="rubro" itemLabel="#{rubro.descripcion}" itemValue="#{rubro.idRubro}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Nombre:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="20" value="#{productoBean.pro.nombre}" maxlength="50" id="txtNom"
                                         required="#{not empty param[btnGU.clientId] or
                                                     not empty param[btnGC.clientId] 
                                                    }" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         requiredMessage="Se requiere el nombre del producto"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Descripcion:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="50" value="#{productoBean.pro.descrip}" maxlength="250"
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere la Descripcion del producto"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Presentacion:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="20" value="#{productoBean.pro.presentacion}" maxlength="50" 
                                         required="#{not empty param[btnGU.clientId] or
                                                     not empty param[btnGC.clientId] 
                                                    }" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         requiredMessage="Se requiere la Presentacion del producto"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Tipo:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu  value="#{productoBean.pro.sigTipoproducto}" 
                                              converter="omnifaces.SelectItemsConverter"
                                              required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere el tipo de producto">
                                <f:selectItem  itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{productoBean.listTipo}" var="tipo" itemLabel="#{tipo.nombre}" itemValue="#{tipo}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Unidad Medida:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{productoBean.pro.sigUnidadmedida}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere la unidad de medida del producto">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{productoBean.listUnidad}" var="unidad" itemLabel="#{unidad.nombre}" itemValue="#{unidad}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column style="text-align: center;" colspan="8">
                            <p:commandButton value="Guardar" binding="#{btnGU}" update="formPro" 
                                             action="#{productoBean.insertProducto()}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <div style="height: 68%;width: 83%;margin: 0 auto;">
                <p:dataTable value="#{productoBean.listPro}" var="tblPro"
                             style="width: 100%;margin-top: 10px;"
                             editable="true" 
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="10"
                             scrollable="true" scrollHeight="100%" scrollRows="50"
                             emptyMessage="No hay Productos"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" id="tblPro"
                             >

                    <p:ajax event="rowEdit" listener="#{productoBean.onRowEdit(tblPro)}" update=":formPro:growlPro" />
                    <p:ajax event="rowEditCancel" listener="#{productoBean.onRowCancel()}" update=":formPro:growlPro" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Codigo" style="text-align: center;font-size:  12px;width: 15%;"/>
                            <p:column headerText="Nombre" style="text-align: left;font-size:  12px;width: 10%;" filterBy="#{tblPro.nombre}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="Descripcion" style="text-align: left;font-size:  12px;width: 35%;"/>
                            <p:column headerText="Presentacion" style="text-align: center;font-size:  12px;width: 8%;" filterBy="#{tblPro.presentacion}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="Tipo" style="text-align: center;font-size:  12px;width: 12%;"/>
                            <p:column headerText="Unidad de Medida" style="text-align: center;font-size:  12px;width: 8%;"/>
                            <p:column headerText="Editar" style="width: 5%;text-align: center;font-size: 12px;"/>
                            <p:column headerText="Activo" style="width: 5%;text-align: center;font-size: 12px;"/>
                        </p:row>
                    </p:columnGroup>

                    <f:facet name="header">
                        <p:outputLabel value="Productos" />
                    </f:facet>

                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblPro.codigo}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblPro.nombre}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblPro.nombre}" style="width:100%" maxlength="70" 
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere el Nombre del producto"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblPro.descrip}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblPro.descrip}" style="width:100%" maxlength="70"
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere la Descripcion del producto"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblPro.presentacion}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblPro.presentacion}" style="width:100%;text-transform: none;" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: center;font-size:  12px;width: 14%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblPro.sigTipoproducto.nombre}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{tblPro.sigTipoproducto}" 
                                                 converter="omnifaces.SelectItemsConverter" 
                                                 required="true" requiredMessage="Se requiere el Tipo de producto">
                                    <f:selectItem itemLabel="#{tblPro.sigTipoproducto.nombre}" itemValue="#{tblPro.sigTipoproducto}" />
                                    <f:selectItems value="#{productoBean.listTipo}" var="tipoT" 

                                                   itemLabel="#{tipoT.nombre}" itemValue="#{tipoT}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: center;font-size:  12px;width: 14%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblPro.sigUnidadmedida.nombre}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{tblPro.sigUnidadmedida}" 
                                                 converter="omnifaces.SelectItemsConverter" 
                                                 required="true" requiredMessage="Se requiere la Unidad de Medida del producto">
                                    <f:selectItem itemLabel="#{tblPro.sigUnidadmedida.nombre}" itemValue="#{tblPro.sigUnidadmedida}" />
                                    <f:selectItems value="#{productoBean.listUnidad}" var="unidadT" 

                                                   itemLabel="#{unidadT.nombre}" itemValue="#{unidadT}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 5%">
                        <p:rowEditor editTitle="Modificar Producto" />
                    </p:column>
                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton value="#{tblPro.estado?'Si':'No'}"  update="formPro" action="#{productoBean.updateEstadoPro(tblPro)}"
                                         style="#{tblPro.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" 
                                         title="Deshabilitar al producto">
                            <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado del producto?" icon="ui-icon-alert" />
                        </p:commandButton>

                    </p:column>

                    <f:facet name="footer">
                        <p:outputLabel value=" " />
                    </f:facet>
                </p:dataTable>
            </div>
        </h:form>
    </ui:define>


</ui:composition>
