<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
 
    <ui:define name="content">
        <h:form id="formRol" style="margin: 0px;">
            <p:growl id="growlRol" showDetail="false" />
            <p:focus for="txtDes" />
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:panelGrid style="width: #{!menuBean.estadoMosMen?'50%':'80%'};height: 98%;margin: 0 auto;"
                         id="panelDa">
                <p:row>                    
                    <p:column style="width: 50%">
                        <p:commandButton value="d" update="formRol"  id="btnResFor" style="display: none;"/>
                        <ui:include src="RolDetalle/AdmiRol.xhtml" />
                    </p:column>
                    <p:column rendered="#{menuBean.estadoMosMen}" >
                        <ui:include src="RolDetalle/AdmiMenu.xhtml" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>

    <ui:define name="dlg-block">
        <!-- DIALGOS PARA AGREGAR EL MENU-->
        <ui:include src="../Buscadores/AdmMenu.xhtml" />
    </ui:define>
</ui:composition>
