<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="formRacion" style="margin: 0px;" rendered="true">
            <p:growl id="growRacion" showDetail="false" />          
            <p:panel id="panelReporte" header="Reporte de Tabulador de raciones servidas" style=" text-align: center; width: 60%;margin: 0 auto ">
                <p:panelGrid rendered="true" style=" text-align: center; width: 100%;margin: 0 auto ">               
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Centro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{reporteAdminBean.usu.sigCentro}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="true" requiredMessage="Se requiere el Centro">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{reporteAdminBean.listCentro}" var="sigCentro" itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro}" />
                                <p:ajax event="itemSelect" listener="#{reporteAdminBean.centroSeleccionado()}"/>
                            </p:selectOneMenu>
                        </p:column>
                    <p:column >                             
                        <p:outputLabel value="Fecha inicio:"/>
                    </p:column>
                    <p:column id="inicio">
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                        requiredMessage="SE REQUIERE LA FECHA"
                                        size="15" value="#{reporteAdminBean.fechaInicio}"
                                        >
                                <p:ajax event="dateSelect" listener="#{reporteAdminBean.inicioSeleccionado()}"/>
                            </p:calendar>
                            <p:message for="inicio" />
                        </p:column>
                         <p:column>
                            <p:outputLabel value="Fecha Fin"  indicateRequired="*"/>
                        </p:column>
                        <p:column id="fin">
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                        requiredMessage="SE REQUIERE LA FECHA"
                                        size="15" value="#{reporteAdminBean.fechaFin}"
                                        >
                                <p:ajax event="dateSelect" listener="#{reporteAdminBean.finSeleccionado()}"/>
                            </p:calendar>
                            <p:message for="fin" />
                        </p:column>
                    </p:row>                 
                    
                    <p:row>
                        <p:column style="text-align: center;" colspan="6">
                            <h:commandLink id="reporteRacion" style="padding: .3em 1em;" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c" target="_blank" value="Generar Reporte" actionListener="#{reporteAdminBean.verReporteRaciones(reporteAdminBean.idCentro,reporteAdminBean.fechaInicio, reporteAdminBean.fechaFin)}" title="Ver reporte de raciones servidas"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>         
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>