<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
 
    <ui:define name="content">
        
        <h:form style="margin: 0px;">
            <p:growl showDetail="false" />

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        
            <p:panel header="Reporte Kardex" style="height: 30%;width: 60%;margin: 0 auto;">
                <p:panelGrid style="height: 30%;width: 100%;margin: 0 auto;">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Centro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{kardexBodegaBean.idcentro}" 
                                             converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{kardexBodegaBean.listCentro}" var="sigCentro" itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro.pkIdCentro}" />
                                <p:ajax event="itemSelect" listener="#{kardexBodegaBean.obtenerProductos}" update="listProCentro"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Producto:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="listProCentro" value="#{kardexBodegaBean.producto}"
                                             converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{kardexBodegaBean.listProducto}" var="ingresoBodegaDTO" itemLabel="#{ingresoBodegaDTO.nombre}" itemValue="#{ingresoBodegaDTO.fk_codigo}" />
                                <p:ajax event="itemSelect" listener="#{kardexBodegaBean.obtenerMarca}" update="listMarcaPro"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Marca:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="listMarcaPro" value="#{kardexBodegaBean.marca}" converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{kardexBodegaBean.listMarca}" var="sigCatalogoMarca" itemLabel="#{sigCatalogoMarca.nombre}" itemValue="#{sigCatalogoMarca.nombre}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha Inicio"  indicateRequired="*"/>
                        </p:column>
                        <p:column id="inicio">
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                        requiredMessage="SE REQUIERE LA FECHA"
                                        size="15" value="#{kardexBodegaBean.inicio}"
                                        >
                                <p:ajax event="dateSelect" listener="#{kardexBodegaBean.inicioSeleccionado()}"/>
                            </p:calendar>
                            <p:message for="inicio" />
                        </p:column>
                         <p:column>
                            <p:outputLabel value="Fecha Fin"  indicateRequired="*"/>
                        </p:column>
                        <p:column id="fin">
                            <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" showOn="button"
                                        requiredMessage="SE REQUIERE LA FECHA"
                                        size="15" value="#{kardexBodegaBean.fin}"
                                        >
                                <p:ajax event="dateSelect" listener="#{kardexBodegaBean.finSeleccionado()}"/>
                            </p:calendar>
                            <p:message for="fin" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align: center;" colspan="8">
                            <h:commandLink id="reporte" style="padding: .3em 1em;" 
                                           styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c" 
                                           target="_blank" value="Generar Reporte" 
                                           actionListener="#{kardexBodegaBean.verReporte(idcentro, producto, marca, inicio, fin)}" title="Ver reporte de Kardex"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <div style="height: 68%;width: 83%;margin: 0 auto;">
                <p:dataTable value="#{ingresoBodegaBean.listaDto}" var="tblPro"
                             style="width: 100%;margin-top: 10px;"
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="20"
                             scrollable="true" scrollHeight="100%" scrollRows="80"
                             emptyMessage="NO HAY PRODUCTOS"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} 
                             {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="20,25,30" id="tblPro" >
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Codigo" style="text-align: center;font-size:  14px;width: 12%;"
                                      filterBy="#{tblPro.fk_codigo}" />
                            <p:column headerText="Nombre" style="text-align: left;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.nombre}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="Descripcion" style="text-align: left;font-size:  14px;width: 25%;"
                                      filterBy="#{tblPro.descripcion}"/>
                            <p:column headerText="Presentacion" style="text-align: center;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.presentacion}" filterStyle="width:100%" filterMatchMode="contains"/>
                        </p:row>
                    </p:columnGroup>
                    <f:facet name="header">
                        <p:outputLabel value="Productos en Existencia Bodega" />
                    </f:facet>
                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblPro.fk_codigo}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.nombre}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.descripcion}" />
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:outputLabel value="#{tblPro.presentacion}" />
                    </p:column>
                </p:dataTable>
            </div>           
        </h:form>
    </ui:define>
</ui:composition>