<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 
    <body>
        <div style="height: 100%">
            <p:dataTable value="#{menuBean.listMenu}" var="dMen"
                         emptyMessage="No hay menu" 
                         scrollable="true" scrollHeight="100%" scrollRows="50"
                         style="width: 100%;margin-top: 10px;"
                         editable="true" >
                <f:facet name="header">
                    MENU DEL ROL
                </f:facet>

                <p:ajax event="rowEdit"  listener="#{menuBean.onRowEdit(dMen)}" update=":formRol:growlRol"/>
                <p:ajax event="rowEditCancel" listener="#{menuBean.onRowCancel()}" update=":formRol:growlRol" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Descripción" style="text-align: left;font-size:  12px;"/>
                        <p:column headerText="Icono" style="text-align: center;font-size:  12px;width: 15%;"/>
                        <p:column headerText="Orden" style="text-align: center;font-size:  12px;width: 12%;"/>
                        <p:column headerText="Editar" style="width: 10%;text-align: center;font-size: 12px;"/>
                        <p:column headerText="Eliminar" style="width: 12%;text-align: center;font-size: 12px;"/>
                    </p:row>
                </p:columnGroup>
                
                <p:column style="text-align: left;font-size: 12px;" >
                    <p:outputLabel value="#{dMen.sigMenu.nomVista}" />
                </p:column>
                <p:column  style="text-align: center;font-size: 12px;width: 15%" >
                    <p:commandButton icon="fa #{dMen.sigMenu.sigIcono.nombre}" />
                </p:column>
                <p:column style="text-align: center;font-size: 12px;width: 12%;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dMen.orden}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputNumber  decimalPlaces="0" value="#{dMen.orden}" style="width:100%" maxlength="100" 
                                         required="true" requiredMessage="Se requiere la descripción"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column >
                    <p:rowEditor editTitle="Modificar menu"/>
                </p:column>
                <p:column style="width: 8%;text-align: center;font-size: 12px;">
                    <p:commandButton icon="fa fa-trash" action="#{menuBean.deleteMenu(dMen)}" update="formRol"
                                     title="Eliminar el menu">
                        <p:confirm header="Confirmación" message="Esta segur@ de eliminar el menu?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton value="Agregar" icon="fa fa-plus" action="#{menuBean.mostrarDiag()}"/>
                </f:facet>
            </p:dataTable>
        </div>
    </body>
</html>
