<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 
    <body>
        <p:panel header="Nuevo Rol" style="width: 98%;margin: 0 auto;">
            <p:panelGrid style="margin: 0 auto;width: 98%;">
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Nombre:" />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{rolBean.rol.descripcion}" maxlength="100" 
                                     size="50" id="txtDes"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere el nombre"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2" style="text-align: center">
                        <p:commandButton value="Guardar" binding="#{btnG}" update="formRol" 
                                         action="#{rolBean.insertRol()}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
        <div style="height: 74%">
            <p:dataTable value="#{rolBean.listRol}" var="dRol"
                         emptyMessage="No hay roles"
                         scrollable="true" scrollHeight="100%" scrollRows="50"
                         style="width: 100%;margin-top: 10px;"
                         editable="true" >
                <f:facet name="header">
                    ROLES
                </f:facet>

                <p:ajax event="rowEdit" listener="#{rolBean.onRowEdit(dRol)}" update=":formRol:growlRol" />
                <p:ajax event="rowEditCancel" listener="#{rolBean.onRowCancel()}" update=":formRol:growlRol" />

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Nombre" style="text-align: left;font-size:  12px;font-weight: bold;"/>
                        <p:column headerText="Activo" style="width: 10%;text-align: center;font-size: 12px;"/>
                        <p:column headerText="Editar" style="width: 10%;text-align: center;font-size: 12px;"/>
                        <p:column headerText="Administrar vista" style="width: 14%;text-align: center;font-size: 12px;"/>
                    </p:row>
                </p:columnGroup>

                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;
                          #{dRol.rolS?'background: #0277BD;color: white;':''}" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dRol.descripcion}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dRol.descripcion}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere la descripción"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column style="width: 17%;text-align: center;font-size: 12px;">
                    <p:commandButton value="#{dRol.estado?'Si':'No'}" action="#{rolBean.updateEstadoRol(dRol)}" update="formRol"
                                     title="Deshabilitar el rol"
                                     style="#{dRol.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" >
                        <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado del registro?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                <p:column style="width: 10%">
                    <p:rowEditor editTitle="Modificar el rol"/>
                </p:column>
                <p:column style="width: 10%">
                    <p:commandButton icon="fa fa-eye" actionListener="#{menuBean.rolSelect(dRol)}" update="formRol"
                                     title="Ver el menu de este rol"
                                     action="#{rolBean.rolSeleccionado(dRol)}"/>
                </p:column>

                <f:facet name="footer">
                    <p:outputLabel value=" " />
                </f:facet>
            </p:dataTable>
        </div>
    </body>
</html>
